{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HOME -->
    <section class="home-section section-hero inner-page overlay bg-image"
             style="background-image: url('{% static 'images/hero_1.jpg' %}');"
             
      >
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Our Services</h1>
              <p>Find your dream jobs in our powerful career website template.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


<section class="site-section services-section bg-light block__62849" id="next-section">
  <div class="container">

    <div class="row">
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-magnet d-block"></span></span>
          <h3>Design Strategy</h3>
          <p>Explore new design strategies and be a leader of your workspac</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-plane d-block"></span></span>
          <h3>Marketing Strategy</h3>
          <p>Our special package will surely help you it in easily tackling complex market problems.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-laptop d-block"></span></span>
          <h3>Web Design</h3>
          <p>Bring out your business to the internet world with the help of a website.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-search d-block"></span></span>
          <h3>Search Engine Results</h3>
          <p>Optimise your search results using our own Search Engine.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-paper-plane d-block"></span></span>
          <h3>Market Leading </h3>
          <p>Want to be a Market Leader we can help you out just log in to our services</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-plug d-block"></span></span>
          <h3>Pixel Perfect Design</h3>
          <p class="d-sm-block">We can help you in perfect designing of your solution.</p>
        </a>

      </div>
    </div>


  </div>
</section>

<section class="bg-white pt-5 testimony-full">

  <div class="owl-carousel single-carousel">


    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <img class="img-fluid mx-auto" src="{% static 'images/person_1.jpg' %}" alt="Image">
          <blockquote>
            <p>&ldquo;Im indebted to this website for helping me to get my first job &rdquo;</p>
            <p><cite> &mdash; Richard Anderson</cite></p>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <img class="img-fluid mx-auto" src="{% static 'images/person_2.jpg' %}" alt="Image">
          <blockquote>
            <p>&ldquo;This Website has helped me in securing my dream job&rdquo;</p>
            <p><cite> &mdash; Chris Peters</cite></p>
          </blockquote>
        </div>
      </div>
    </div>

  </div>

</section>


{% endblock  %}
